* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {  
    height: 100vh; 
    background: url("https://i.imgur.com/ICRd3ce.pngimages/mian\ bg.png");
    position :relative;
}
.container {
    position: relative; 
}


.body{
    display: flex;  
    flex-direction: column;  
    height: 100vh;
    background-size: cover;
    

}
.right_banner{
    background :url("https://i.imgur.com/rPYJlTM.pngimages/đỏ.png");
    background-size: cover; 
    width: 40%; 
    height: 100vh;
    margin-top: 0px;
    right: 0;
    position: absolute;
    top: 0;
}
.text_banner {
    width: 100%; 
    background-image: url("https://i.imgur.com/o05yvS5.pnghttps://i.imgur.com/2KZXwLH.pnghttps://i.imgur.com/134KTIT.png"); 
    background-size: contain; 
    background-repeat: no-repeat; 
    height: 40%;  
    position: absolute;  
    top: 250px;  
    left: 0;  
    z-index: 10; 
    background-size: 100% auto; 
}
.text_content {
    position: relative; 
    padding: 20px; 
    top :200px;
}

.image-item {  
    width: 80%;
    height: 100px;
    margin: 20px auto;  
    background-size: contain;   
    background-repeat: no-repeat;  
    background-position: left; 
    margin-left: 50px;
}  

.stars {  
    height: 30px; 
}  

.description {  
    height: 150px; 
    width: 400px; 
    font-size: 16px;
}


.price {  
    height: 30px;
}  

.button {  
    height: 40px;  

}  

.header{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    z-index: 2;
    
}

.logo{
    background: url("https://i.imgur.com/hD0AG5A.pngimages/UIUX\ GURUJI.png") no-repeat center;
    background-size: contain;
    width: 100px;
    height: 50px;
    display: block;
    float: left;

}
.menu{
    background: url("https://i.imgur.com/XJfmTF5.png") no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
    z-index: 4;
    display: block;
    float: right;
}

.footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    position: absolute; 
    bottom: 0;
    left: 0; 
    width: 100%; 
    z-index: 14;
}


.social_icon {
    display: inline-block; 
    width: 280px;
    height: 80px; 
    background-image: url('https://i.imgur.com/arahhL7.png');
    background-size: contain; 
    background-repeat: no-repeat; 
    margin-left: 50px;
}
.watch {
    width: 250px; 
    height: 80px; 
    background-image: url('https://i.imgur.com/BHoN0hs.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    position: absolute; 
    right: 5px;
    top: -40px; 
    z-index: 20;
    margin-right:10px;

}
.next {  
    width: 50px;
    height: 50px;   
    background-image: url('https://i.imgur.com/a9AOxYH.pngimages/bi_arrow-right.png');   
    background-size: contain;   
    background-repeat: no-repeat;   
    display: inline-block;   
    z-index: 23;   
    position: absolute; 
    right: 10px;  
    top: -300px; 
}
.shoe-image {  
    position: absolute;  
    z-index: 30; 
    top: 5px;  
    left: 550px;  
    z-index: 100;  
    width: 800px;  
    height: 700px;
    background-image: url('https://i.imgur.com/134KTIT.pngimages/Giày.png');  
    background-size: contain;  
    background-repeat: no-repeat;
}